<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>{{ country }}</title>
</head>
<body>
    <h1>{{ country }}</h1>
    <div><a href="/">{{ "<=" }}</a></div><br>

    <p>Number of all power plants: {{ pocet }}</p>
    <p>Total capacity of power plants (MW): {{ max_cap }}</p>
    <p>Maximum capacity of power plant (MW): {{ maxim }}</p>
    <table>
    <thead>
        <tr>
            <th>Primary fuel</th>
            <th>Number of power plants</th>
            <th>Percentage of total capacity</th>
        </tr>
    </thead>
    <tbody>
        {% for poc, fue, kap in fuels_data %}
            <tr>
                <td>{{ fue }}</td>
                <td>{{ poc }}</td>
                <td>{{ kap }}%</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <br>
    <p>Number of shown power plants (max. 100): {{ pocet2 }}</p>
    <a href="{{ url_for("wat", country=country) }}">{{ 'Change map' }}</a>
    <div id="plotly"></div>
    <script>
    var graph = {{ graph | safe }};
    Plotly.plot('plotly', graph, {});
    </script>

{#    {% for id in ids %}#}
{#        <a href="{{ url_for("wat", country=id) }}">{{ id }}</a>&emsp;#}
{#    {% endfor %}#}
{#    <div id="chart_div" style="width: 900px; height: 500px;"></div>#}

</body>
</html>
